.App {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #414148;
    height: 100vh;

}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 3px solid skyblue;
    padding: 9px;
    border-radius: 10px;
    background-color: #414148;
    margin-left: 40px;
}
.flex-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}
.counter-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 100px;
    background-color: #414148;
    border: 3px solid skyblue;
    border-radius: 9px;
    margin-bottom: 20px;

}

.counter-style {
    background-color: #414148;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: skyblue;

}
.message-style {
    background-color: #414148;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: skyblue;
}
.message-error-style {
    background-color: #414148;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: red;
}
.message {
    color: skyblue;
    font-size: 25px;
}
input {
    width: 70px;
    height: 20px;
    text-align: center;
}
.button-wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 300px;
    background-color: #414148;
    border: 3px solid skyblue;
    border-radius: 9px;
    padding: 8px;
}
.set-button-wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 300px;
    background-color: #414148;
    border: 3px solid skyblue;
    border-radius: 9px;
    padding: 8px;
}

.button {
    width: 80px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    border: 2px solid skyblue;
    border-radius: 5px;
    background-color: skyblue;
    font-size: 28px;
}

.disabled-button {
    background-color: #498a9c;
    border: 2px solid #498a9c;
    color: #325b69;
}


.max-count {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: red;
}
